<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 코드 확인</title>
</head>
<body>
<h1>인증 코드 확인</h1>
<form th:action="@{/api/email/verify}" method="post">
    <label for="email">이메일 주소:</label>
    <input type="email" id="email" name="email" required>
    <label for="certificationNumber">인증 번호:</label>
    <input type="text" id="certificationNumber" name="certificationNumber" required>
    <button type="submit">인증 번호 확인</button>
</form>
</body>
</html>
